<footer class="p-3 bg-danger d-flex justify-content-between">

  <div class="footer-copyright icon text-warning">
    This page is made with <i class="fa-solid fa-radiation text-warning"></i> by Le Wagon Students
   </div>
    <div class="bg-danger">
    <a href="https://github.com/Lenilda-Miranda"><i class="fab fa-github text-warning"></i></a>
    <a href="https://github.com/gpcmello"><i class="fab fa-github text-warning"></i></a>
    <a href="https://github.com/FabioWaideman"><i class="fab fa-github text-warning"></i></a>

  </div>
</footer>
